[submodule "bookings"]
	path = bookings
	url = https://github.com/alexakarpov/bookings
[submodule "eplk"]
	path = eplk
	url = https://github.com/alexakarpov/eplk
[submodule "problems"]
	path = problems
	url = https://github.com/alexakarpov/problems
[submodule "brave-and-true"]
	path = brave-and-true
	url = https://github.com/alexakarpov/brave-and-true
